body {
    font-family: sans-serif;
    background-image: url("http://2.bp.blogspot.com/-JfnLpnI3JiA/UtJr867XmMI/AAAAAAAAGcg/nAUuGP2VUzQ/s1600/Black-texture-small-design-pattern-background-wallpapers-HD-for-tables.jpg");
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
        width: 200px;
  
}
.container{
    
max-width: 880px;
margin: 0 auto;
color: white;
font-family: sans-serif;

padding-left: 20px;
padding-right: 20px;
}